{% extends "layout.html" %} {% block content %}
    <h1>Generate image</h1>
    <form action="/generate_image" method="POST">
        {% csrf_token %}
        <label>Image Generation Parameters</label>
        <br />
        <label>Image Width</label>
        <input type="number" name="width" id="width" required />
        <br />
        <label>Image Height</label>
        <input type="number" name="height" id="height" required />
        <br />
        <label>Image Blur</label>
        <input type="number" name="blur" id="blur" />
        <br />
        <label>Image Grayscale</label>
        <input type="checkbox" name="grayscale" id="grayscale" />
        <br />
        <input type="submit" value="Generate Image" />
    </form>

    {% if picsum_url %}
        <img src="{{picsum_url}}" alt="Could not genereate" />
    {% endif %} {% endblock %}
